.photocard {
    background-color: #e8eaed;
    background-size: cover;
    border-radius: 8px;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    transition: all .135s cubic-bezier(0,0,.2,1);
    width: 100%;
}

h1 {
    color: white !important;
    text-shadow: 2px 0 0 #0C0C0C, -2px 0 0 #0C0C0C, 0 2px 0 #0C0C0C, 0 -2px 0 #0C0C0C, 1px 1px #0C0C0C, -1px -1px 0 #0C0C0C, 1px -1px 0 #0C0C0C, -1px 1px 0 #0C0C0C;

}

@media (min-width: 0px) {
    .hide-img {
        display: none !important;
    }

    .larger-div {
        height: 100%;
    }

    span {
        font-size: 10px;
    }

    .hide {
        display: None !important;
    }

    .text-to-right {
        margin-left : 60px;
    }

    .bg-img {
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        height: 100%;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        padding: 0 20px;
    }



  }


@media (min-width: 576px) {
    span {
        font-size: 10px;
    }

    .hide {
        display: None !important;
    }

    .text-to-right {
        margin-left : 60px;
    }


  }

@media (min-width: 768px) {


    span {
        font-size: small;
    }

    .hide {
        display: None !important;
    }

    .text-to-right {
        margin-left : 0px;
    }

    .larger-text {
        font-size: large;
    }
    


  }

@media (min-width: 992px) {

    .hide-img {
        display: block !important;
    }

    .larger-div {
        height: 100%;
    }

    span {
        font-size: medium;
    }

    .hide {
        display: block !important;
    }

    .hide_bg {
        display: None !important;
    }

    .text-to-right {
        margin-left : 0px;
    }

    
    .bg-img {
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        height: 100vh;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        padding: 0 20px;
    }

  }

@media (min-width: 1200px) {
    span {
        font-size: large;
    }
    
    .hide {
        display: block !important;
    }

    .hide_bg {
        display: None !important;
    }

    .text-to-right {
        margin-left : 0px;
    }


  }

.txt-shadow{
    text-shadow: 2px 0 0 #0C0C0C, -2px 0 0 #0C0C0C, 0 2px 0 #0C0C0C, 0 -2px 0 #0C0C0C, 1px 1px #0C0C0C, -1px -1px 0 #0C0C0C, 1px -1px 0 #0C0C0C, -1px 1px 0 #0C0C0C;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

input::placeholder {
    left:0 !important;
    top:0 !important;
}

.a {
    text-decoration: none !important;
}



.title {
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0.1s;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    border-color: #5465FF !important;
    background-color: #5465FF !important;
  }
  
.btn-primary:hover {
    border-color: #1a30ff !important;
    background-color: #1a30ff !important;
    color: white !important;
  }


.shadowbox:hover {
    box-shadow: 0px 0px 1px 1px #1a30ff, 0px 0px 8px 2px #5465FF, 0px 0px 12px 8px #5465ff56;
}




.blink_me {
animation: blinker 3s linear;
}

@keyframes blinker {
        
0% {
    opacity: 0;
}

50% {
    opacity: 25;
}
}





/* #0C0C0C Black */
/* #5465FF Neon Blue */
/* #D1B1C8 Pink */
/* #69DC9E Green */
/* #B9FAF8 White blue */
